@charset "UTF-8";
/* CSS Document */


/*
Google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=B612&family=Crimson+Pro&display=swap');


*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background-color:turquoise;
}

header h1{
	font-size: 7em;
	color: black;
	margin-left: 8%;
	font-family: 'Crimson Pro', serif;
	text-align:center;
	background-color: turquoise;

}

header h2{
	font-size: 3em;
	color: turquoise;
	margin-left: 10%;
	text-align: center;
}

.hnav{
	width: 100%;
	background-color:#373232;
	min-height: 50px;
	text-align: center;
	padding: .8em;
	color:turquoise;
	
	
}

.hnav ul{
	display: block;
	color: black;
	background-color:turquoise;
}

.hnav ul li{
	display: inline-block;
	list-style-type: none;
	width: 10%;
	padding: 2%;
}

.hnav a{
	text-decoration: center;
	color: #e4f2ea;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Crimson Pro', serif;
}
.hnav a:hover{
	background-color:turquoise;
	color: black;
}
header{
	min-height: 400px;
	background-color:turquoise;
	background-image: url("../images/appearance_beagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% 20%;
	text-align: right;
}


main{
	width: 100%;
	min-height: 500px;
}

#container{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
	font-family: 'Crimson Pro', serif;
    background-color: turquoise;
    text-decoration-color: black;
}

#container img{
	float: left;
	margin-right: 2%;
	border: 20px double turquoise;
	border-radius: 10px;
	text-align: right;

}

h1{
	font-family: 'B612', sans-serif;
font-family: 'Crimson Pro', serif;
}

h2{
	font-family: 'B612', sans-serif;
font-family: 'Crimson Pro', serif;
}


blockquote{
	font-size: 3em;
	color: black;
	font-family: 'Crimson Pro', serif;
	margin-bottom: 0.1em;
}


table{
	
}



footer{
	min-height: 300px;
	background-color:black;
	text-align: center;
	color:purple;
    padding-top: 5%;
}

.fnav{
	width: 100%;
	background-color: purple;
	min-height: 20px;
	text-align: center;
	padding-bottom: .8em;
	
}



.fnav ul{
	display: block;
	padding-top: .8em;
	
}

.fnav a:hover{
	background-color: #A68160;
	color: #11181e;
}

/*Style rule for form element */
	
.img{
	width: 45%;
}
.text{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
font-family: 'Crimson Pro', serif;
	text-align: right;
	vertical-align: text-top;
	font-size: 1.8em;
	
}

#social img{
	align-content: center;
}
@font-face{
  font-family: myFirstFont;
  src: url(https://fonts.google.com/specimen/Climate+Crisis);
}

#d{
  font-family: myFirstFont;
}
.frame{
color:black;
box-sizing: border-box;

}
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background-color: turquoise;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background-color:turquoise;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}
